<main class="container">
  <section class="countdown-content">
    <header class="countdown-header">
      <h1 class="countdown-title" #titleElement appFitText>
        {{
          countdownForm.title
            ? 'Time to ' + camelCaseTitle
            : 'Enter Event Name & Date to Start✨'
        }}
      </h1>
      <p class="date" #countdownElement appFitText [ngClass]="{ 'no-date-selected': !countdownForm.date }">
        {{
          countdownForm.date
            ? timeLeft
            : 'No date selected yet. Please select date.'
        }}
      </p>
    </header>

    <div class="form-fields">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Time to …"
          [(ngModel)]="countdownForm.title"
          (keyup)="titleChange($event)"
        />
        <mat-icon matSuffix class="mat-icon-dark-grey">create</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="todayDate"
          [(ngModel)]="countdownForm.date"
          (ngModelChange)="startCountdown()"
          readonly
          placeholder="Select date"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker panelClass="custom-datepicker">
        </mat-datepicker>
      </mat-form-field>
    </div>
  </section>
</main>
